<div class="tags"><div>注意：本站从未表明收录成人站|垃圾站和其他一些不合法网站的意愿，此类站不收录。<br></div></div>
<form action="/<{$css}>" method="GET" style="padding: 0 8px;">      
   <input name="keywords" id="keywords" size="60" value="输入关键字或域名" class="i" maxlength="100" onblur="if(this.value=='')this.value='输入关键字或域名';"  onclick="if(this.value=='输入关键字或域名')this.value=''" />
   <input type="submit" value="查看收录" class="b" />
</form>
<div class="footer">©2013 Beta版&nbsp;&nbsp; <a href="/<{$css}>"><strong><{$title2}></strong></a> 网站内容由各网站提供，但并不代表本站立场</div>
<script type="text/javascript">
    /*300*250 外链所有创建于 2014-08-13*/
var cpro_id = "u1658531";
</script>
<script src="http://cpro.baidustatic.com/cpro/ui/f.js" type="text/javascript"></script>
<script type="text/javascript" src="http://www.521php.com/api/tz/"></script>
<div style="display:none">
<script src="http://s96.cnzz.com/stat.php?id=4200165&web_id=4200165" language="JavaScript"></script>
</div>
<script type='text/javascript' src="http://www.521php.com/wailian/public/scripts/tj.js"></script>
