<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title><{$title}></title>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="public/css/common.css" type="text/css" />
<link rel="stylesheet" href="public/css/home.css" type="text/css" />
<link rel="stylesheet" href="public/css/other.css" type="text/css" />
<script type="text/javascript" src="public/xheditor/jquery-1.4.4.min.js"></script>
</head>
<body>
<a name="top"></a>
<div class="top">
  <a href="index.php" class="logo"><img src="public/images/logo.png" alt="百家健康"></a>
  <div class="top-nav">
  	<a href="/" class="selected" id="user">用户中心</a>
    <a href="/" id="favorite">收藏</a>
  </div>
</div>
<div class="nav">
	<ul>
    	<li><a href="index.php?m=disease&a=index"><img src="public/images/search.png" alt="查疾病"><br>查疾病</a></li>
        <li><a href="index.php?m=hospital&a=index"><img src="public/images/hospital.png" alt="找医院"><br>找医院</a></li>
        <li><a href="index.php?m=doctor&a=index"><img src="public/images/doctor.png" alt="问医生"><br>问医生</a></li>
        <li><a href="/"><img src="public/images/search.png" alt="找药品"><br>找药品</a></li>
        <li><a href="index.php?m=health&a=index"><img src="public/images/zx.png" alt="健康资讯"><br>健康资讯</a></li>
        <li><a href="/"><img src="public/images/test.png" alt="健康自测"><br>健康自测</a></li>
        <li><a href="/"><img src="public/images/bbs.png" alt="健康社区"><br>健康社区</a></li>
        <li><a href="/"><img src="public/images/ask.png" alt="健康社区"><br>健康问答</a></li>
    </ul>
</div>