<link type="text/css" rel="stylesheet" href="public/css/right.css" />  
<body>
<div class="right">
  <div class="content">
   <form name="form" action="admin.php?m=AdminManage&a=EditPassword" method="POST">
    <table  border="0" cellspacing="1" cellpadding="0" style="font-size:12px;" >
      <tr class="font">
        <td align="left">密码修改</td>
      </tr>
      <tr>
        <td align="left"><label>原始密码：</label><input type="password" name="oldpwd"/></td>
      </tr>
      <tr>
        <td align="left"><label>请输入新密码：</label><input type="password" name="newpwd" /></td>
      </tr>
      <tr>
        <td align="left"><label>请再输入一次：</label><input type="password" name="newpwd2"/></td>
      </tr>

      <tr class="font">
        <td align="center"><input class="btn" type="submit" onClick="return reto()"  value="提交" /></td>
      </tr>
    </table>
     <script type="text/javascript">
function reto(){
	pwd  = document.form.oldpwd.value;
	pwd1 = document.form.newpwd.value;
	pwd2 = document.form.newpwd2.value;
	if(pwd==''){
		alert('原始密码不能为空');
		document.form.oldpwd.focus();
		return false;
	}
	if(pwd1==''){
		alert('密码不能为空');
		document.form.newpwd.focus();
		return false;
	}
	if(pwd1!=pwd2){
		alert('两次输入的密码不一致');
		document.form.newpwd.focus();
		return false;
	}
}
</script>
    </form>
  </div>
</div>
</body>
</html>


