<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>北京百川兴志移动互联有限公司</title>
<link type="text/css" rel="stylesheet" href="public/css/manage.css" />
<link type="text/css" rel="stylesheet" href="public/css/basic.css" />
</head>
<body>
<div id="box">
  <div class="head">
    <{$head}>
  </div>
  <div class="leftNav">
    <div class="con">
      <{$left}>
    </div>
  </div>
  <div class="main">
    <div class="txt">
      <iframe frameborder="0" name="main" id="main" src="admin.php?m=index&a=main" ></iframe>
    </div>
  </div>
</div>
</body>
<script language="javascript" >

function change(index){
	    var obj=document.getElementById("nav").getElementsByTagName("ul")[index]
		var title=document.getElementById("nav").getElementsByTagName("h3")[index]
		if(obj.style.display=="block" || obj.style.display==""){
			obj.style.display="none"
			title.childNodes[0].className="over"
		}else{
			obj.style.display="block"
			title.childNodes[0].className=""
}
}

</script>
</html>
