<link type="text/css" rel="stylesheet" href="public/css/right.css" />  
<body>
<div class="right">
  <div class="content">
   <form name="form" action="admin.php?m=AdminManage&a=EditPassword" method="POST">
    <table  border="0" cellspacing="1" cellpadding="0" style="font-size:12px;" >
      <tr class="font">
        <td align="center">百川后台主页</td>
      </tr>
      <tr>
        <td align="left"> <a href="admin.php?m=health&a=listhealth">健康资讯</a></td>
        <td><a href="index.php?m=health&a=index" target="_blank" >预览</a></td>
      </tr>
      <tr>
        <td align="left"><a href="admin.php?m=articleadd&a=listdisease">查疾病</a></td>
        <td><a href="index.php?m=disease&a=index" target="_blank" >预览</a></td>
      </tr>
      <tr>
        <td align="left"><a href="admin.php?m=Hospital&a=ListContentsPage">找医院</a></td>
        <td><a href="index.php?m=hospital&a=index" target="_blank" >预览</a></td>
      </tr>
      <tr>
        <td align="left"><a href="admin.php?m=Doctor&a=ListContentsPage">找医生</a></td>
        <td><a href="index.php?m=doctor&a=index" target="_blank" >预览</a></td>
      </tr>
      <tr>
        <td align="left"><a href="admin.php?m=Drug&a=ListContentsPage">找药品</a></td>
        <td><a href="index.php?m=disease&a=index" target="_blank" >预览</a></td>
      </tr>
      <tr class="font">
        <td align="center">欢迎使用百川3g后台 祝你工作愉快</td>
      </tr>
    </table>
    </form>
  </div>
</div>
</body>
</html>


