
.dtree {
	white-space: nowrap;
	padding: 20px 30px 20px 20px;
	line-height: 11px;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree img.folderimage{
	margin-right: -2px;
}
.dtree a {
	color: #EFEFEF;
	text-decoration: none;
}
.dtree a:hover{
	background-color: #0066CC;
}
.dtree .text{
}
.dtree .title{
	margin-right: 3px;
}
.dtree .name{
	margin-right: 3px;
}
.dtree .number{
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 3px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #FFFFFF;
}
.dtree a.nodeSel {
	background-color: #666666;
	color: #FFFFFF;
	font-weight: bold;
}
.dtree .clip {
	
}